<?xml version="1.0" encoding="UTF-8"?>
<faces-config xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-facesconfig_4_0.xsd"
    version="4.0">
    ${content}

    #foreach( $kit in ${renderkits})
        <render-kit>
            #if(${kit.name})
                <render-kit-id>${kit.name}</render-kit-id>
                #if(${kit.classname})
                    <render-kit-class>${kit.classname}</render-kit-class>
                #end
            #end
            ${kit.facesConfig}
        </render-kit>
    #end

</faces-config>
