<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-jsptaglibrary_3_0.xsd"
    xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    version="${library.taglib.jspVersion}">

    #if(${taglib.description})
        <description>${taglib.description}</description>
    #end
    #if(${taglib.displayName})
        <display-name>${taglib.displayName}</display-name>
    #end
    <tlib-version>${taglib.tlibVersion}</tlib-version>
    #if(${taglib.shortName})
        <short-name>${taglib.shortName}</short-name>
    #end
    <uri>${taglib.uri}</uri>
    #if(${taglib.validatorClass})
        <validator>
            <validator-class>${taglib.validatorClass}</validator-class>
        </validator>
    #end

    ${content}
</taglib>